







}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

#month-year{
    font-weight: bold;
    font-size: 20px;
}

.weekdays, .days{
    display: flex;
    flex-wrap: wrap;
}

.weekdays div{
    font: "Opinio", sans-serif;
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 600;
}

.days div{
    cursor: pointer;
    transition: background-color 0.3s;
    font: "Opinio", sans-serif;
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 470;
    position: relative;
}

.days div:hover{
    background-color:#481f01;
    color: white;
}

.days .today{
    background-color: #80471c;
    color: white;
}

.days .fade{
    color: #7f6244;
}

.days .selected{
    background: #B87942;
    color: white;
    font-weight: bold;
}

.task-marker{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 10px;
    pointer-events: none;
}

#numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #c19a6b;
    border: 2px solid rgba(135, 70, 9, 0.788);
    font-weight: 650;
    border-radius: 50%;
    font-size: 1.5rem;
}

#progress-bar {
    width: 100%;
    height: 7px;
    background: rgba(244, 172, 109, 0.8);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 15px;
}

#progress {
    width: 0%;
    height: 100%;
    background: #63401a;
    border-radius: 20px;
    transition: width 0.3s ease;
}

#progress-percent{
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #815e40;
}

.input-area {
    display: flex;
    align-items: center;

    width: 100%;
}


.input-area input {
    flex: 1;

    padding: 10px 17px;

    font-size: 1.1rem;

    border: none;
    outline: none;

    border-radius: 22px;

    background: rgba(210, 143, 86, 0.5);

    color: #2b241b;
}


.input-area input::placeholder {
    color: #2c2c2c;
}


.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;

    padding: 8px;

    border-radius: 50%;

    color: aliceblue;

    font-size: 1.1rem;

    background: rgba(210, 143, 86, 0.5);

    border: 2px solid rgba(255, 255, 255, 0.18);

    cursor: pointer;

    transition: all 0.2s ease;
}


.input-area button:hover {
    transform: scale(1.1);

    background: rgba(210, 143, 86, 0.8);
}

.todos-container {
    width: 100%;
}

#task-list {
    width: 100%;
}


#task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    background: rgba(210, 143, 86, 0.5);

    margin-bottom: 10px;

    padding: 8px 10px;

    border-radius: 30px;

    font-size: 1.2rem;

    color: #2c2c2c;

    position: relative;

    transition: box-shadow 0.2s ease;
}


#task-list li:hover {
    box-shadow: 0 0 10px rgba(95, 49, 5, 0.788);
}

#task-list li .checkbox {
    width: 20px;
    height: 20px;

    border: 2px solid rgba(95, 49, 5, 0.788);

    background: transparent;

    border-radius: 50%;

    cursor: pointer;

    appearance: none;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}


#task-list li .checkbox:checked {
    background: #b78044;
}


#task-list li .checkbox:checked::before {
    content: "\2713";

    color: white;

    font-size: 13px;

    font-weight: bold;
}

#task-list li span {
    flex: 1;

    margin-left: 5px;

    word-wrap: break-word;
}

#task-list li.completed span {
    text-decoration: 2px line-through #331100;
    color: #1a0707;
}

.task-buttons {
    display: flex;

    gap: 5px;

    margin-left: auto;
}


.task-buttons button {
    background: rgba(149, 80, 20, 0.5);

    border: none;

    border-radius: 50%;

    width: 18px;
    height: 18px;

    color: #fff;

    font-size: 0.7rem;

    cursor: pointer;

    transition: all 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}


.task-buttons button:hover {
    transform: scale(1.2);
}


.task-buttons .edit-btn {
    background: rgba(180, 107, 34, 0.827);
}


.task-buttons .delete-btn {
    background: rgba(65, 32, 1, 0.827);
}

.empty-state {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 10px;

    width: 100%;

    flex-wrap: nowrap;
}

.empty-state p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #7e2828;
    margin: 0;
    text-align: left;
    max-width: 150px;
}

.empty-image {
    width: 100px;

    height: auto;

    flex-shrink: 0;
}

.stat-container{
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.details{
    width: 100%;
}

.details h3{
    color: #815e40;
}

.watch{
    position: absolute;

    top: 40px;
    left: 40px;

    color: #4b2d18;

    display: flex;
    flex-direction: column;

    z-index: 100;
}

#time:hover{
    transform: scale(1.03);
}

#time{
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 0 20px #b3794d;
    color: #4b2d18;
    transition: transform 0.3s ease;
}

#date{
    font-size: 22px;
    margin-top: 10px;
    font-weight: 650;
    margin-bottom: 15px;
}

body{
    position: relative;
}

* {
    box-sizing: border-box;
}

.music-container{
    background-color: #F6E7D8;
    border-radius: 15px;
    border: 2px solid #D7BFA9;
    box-shadow: 0 8px 18px rgba(95, 49, 5, 0.18);
    color: #4B2D18;
    position: absolute;
    top: 50px;
    right: 40px;
    width: 320px;
    height: 95px;
    overflow: visible;
    padding: 20px 30px;
    margin: 100px 0;
    z-index: 10;
    display: flex;
}

.img-container{
    width: 110px;
    position: relative;
}

.img-container img{
    position: absolute;
    top: -63px;
    left: 0;
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    animation: rotate 10s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img{
   animation-play-state: running;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.img-container::after{
    content:'';
    background-color: #F6E7D8;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 39%;
    bottom: 94%;
    border-radius: 50%;
    transform: translate(-2%, -2%);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 25px;
    margin-left: auto;
}

.action-btn{
    background-color: #F6E7D8;
    border: 0;
    color: #cbaf91;
    font-size: 15px;
    cursor: pointer;
    padding: 3px;
    margin: none;
    transition: transform .2s ease, color .2s ease;
}

.action-btn-big{
    color: #8a7864;
    font-size: 25px;
    transition: transform .2s ease, color .2s ease;
}

.action-btn:focus{
    outline: none;
}

.action-btn:hover,
.action-btn-big:hover{
    transform: scale(1.15);
    color: #7A5C43;
}

.music-info{
    background-color: rgba(233, 205, 179, 0.8);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
}

.music-container.play .music-info{
    opacity: 1;
    transform: translateY(calc(-100% - 2px));   
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    padding: 21px 10px 10px 120px;
}

.music-info h4{
    margin:none;
}

.progress-container{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 4px;
    background-color: #ecc192;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 2.5px;
    width: 90%;
}

.progress{
    background-color:#c78c4d;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

@media (max-width: 600px){
    body {
        background-image: url("Miffy Mobile.gif");
        background-size: cover;
        background-position: center;
        padding: 15px;
    }

    .container{
        margin: 0 20px;
        padding: 0 10px;
        width: 100%;
    }

    .todo-app{

    .progress-container{
    width: calc(100% - 40px);
    }
}
